<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Four in row</title>
    <link rel="stylesheet" type="text/css" href="/css/fourinrow.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">  
    <script> roomid = '<%= id %>'</script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/fourinrow.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="player p2">
      Player 1
      <div class="connected">Connected <span></span></div>
      <div class="ready">Ready <span></span></div>
    </div>
    <div class="player p1">
      Player 2
      <div class="connected">Connected <span></span></div>
      <div class="ready">Ready <span></span></div>
    </div>

    <div class="container">
        <div class="grid grid-user"></div>
    </div>

    <div class="hidden-info">
      <button id="start" class="button">Start New Game</button>
      <button id="leave" class="button">Leave Room</button>
      <h3 id="whose-move" class="text"></h3>
      <h3 id="info" class="text">Game ready to start</h3>
    </div>

  </body>