<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>Document</title>
</head>
<body>
    <form method="POST">
      <% if ( locals.message ) { %>
        <div class="warning">
            <%= locals.message %>
        </div>
        <% } %>
        <div>
            Input room name.
        </div>
        Room: <input type="text" name="roomid" value='<%=''%>' />
    <div>
        <button>Confirm</button>
    </div>
    </form>
</body>
</html>