<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>

<button id="CreateRoomButton">Create room</button>

<script type="text/javascript">
    document.getElementById("CreateRoomButton").onclick = function () {
        location.href = "/room/0";
    };
</script>

</html>
