.grid-user {
  width: 700px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-color: blue;
}

.grid div {
  width: 100px;
  height: 100px;
}

.player1 {
  background-color: red;
}

.player0 {
   background-color: yellow;
}

.connected span,
.ready span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: red;
}

span.green {
  background: green;
}